@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* 컬러 */

  --color-primary-0: #4c79ff;
  --color-primary-10: #e6ecff;
  --color-primary-30: #b3c9ff;
  --color-primary-alt: #78b0ff;
  --color-primary-alt-10: #e6f0ff;
  --color-primary-alt-30: #c2ddff;

  --color-white: #ffffff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;

  --color-secondary-indigo: #023e99;
  --color-secondary-informative: #2683e8;
  --color-secondary-negative: #dc2626;
  --color-secondary-notice: #f8bf24;
  --color-secondary-positive: #22c55e;
  --color-secondary-fuchsia: #fd28ec;

  --color-secondary-indigo-light: #a3c3ff;
  --color-secondary-informative-light: #93caff;
  --color-secondary-negative-light: #fca5a5;
  --color-secondary-notice-light: #fde68a;
  --color-secondary-positive-light: #86efac;
  --color-secondary-fuchsia-light: #f9a8f4;

  --color-disabled: #9ca3af;
  --color-hover: rgba(76, 121, 255, 0.1);
  --color-active: rgba(76, 121, 255, 0.1);
  --color-focus: #4c79ff;
  --color-dim-50: rgba(0, 0, 0, 0.5);

  --spacing-0\.5: 0.125rem; /* 2px */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-4: 1rem; /* 16px */
  --spacing-5: 1.25rem; /* 20px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-8: 2rem; /* 32px */
  --spacing-9: 2.25rem; /* 36px */
  --spacing-10: 2.5rem; /* 40px */
  --spacing-12: 3rem; /* 48px */
  --spacing-14: 3.5rem; /* 56px */
  --spacing-16: 4rem; /* 64px */
  --spacing-18: 4.5rem; /* 72px */
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* 타이포그래피 */
  .text-heading-b {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.875rem;
  }

  .text-heading-s {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875rem;
  }

  .text-heading-m {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
  }

  .text-heading-r {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.875rem;
  }

  .text-title-b {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .text-title-s {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .text-title-m {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  .text-title-r {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .text-subtitle-b {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.375rem;
  }

  .text-subtitle-s {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
  }

  .text-subtitle-m {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375rem;
  }

  .text-subtitle-r {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
  }

  .text-body-b {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.125rem;
  }

  .text-body-s {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.125rem;
  }

  .text-body-m {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.125rem;
  }

  .text-body-r {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
  }

  .text-caption-b {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
  }

  .text-caption-s {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
  }

  .text-caption-m {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
  }

  .text-caption-r {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
  }

  .text-label-b {
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 0.75rem;
  }

  .text-label-s {
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 0.75rem;
  }

  .text-label-m {
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 0.75rem;
  }

  .text-label-r {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.75rem;
  }
}
