@import "tailwindcss";

@theme {
  --color-heatmap-0: #E8EDF8;
  --color-heatmap-1: #B8CAFF;
  --color-heatmap-2: #87A6FF;
  --color-heatmap-3: #4C79FF;
  --color-heatmap-4: #1E50E5;
  --color-heatmap-5: #023E99;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #f6f7f9 0%, #e9ecf5 100%);
}
